# m h  dom mon dow   command
SHELL=/bin/bash
PATH=$PATH:/bin:/sbin:/usr/bin:/usr/sbin:/usr/local/bin:/usr/local/sbin
NICKNAME=LightsailDocker
USER=ubuntu
HOMEDIR=/home/ubuntu/nextcloud

*/10 *  *  *  * docker exec -u www-data mydeskweb.com php -f /var/www/html/cron.php
*/15 *  *  *  * docker exec -u www-data quenchinnovations.net php -f /var/www/html/cron.php


*/30  *  *  *  * docker exec -u www-data quenchinnovations.net php occ files:scan --all
*/40  *  *  *  * docker exec -u www-data quenchinnovations.net php occ files:scan-app-data

57  23 *  *  *  /home/ubuntu/nextcloud/backup_nextcloud.sh mydeskweb.com
#50  23 *  *  *  /home/ubuntu/nextcloud/backup_nextcloud.sh quenchinnovations.net

